
/* 본문 */
.con_selction {
	display: flex;
	justify-content: center;
}

/* 왼쪽 카데고리 */
.nav {
	width: 200px;
	text-align: left;
	text-indent: 20px;
}

.nav div {
	padding-top: 15px;
	padding-bottom: 15px;
}

/* 왼쪽 카데고리 - 전체 */
.nav_all, .nav_category {
	font-weight: bold;
}

.nav_all {
	color: white;
	background-color: black;
}

/* 왼쪽 카데고리 - 대분류 */
.nav_category {
	color: white;
	background-color: gray;
}

/* 왼쪽 카데고리 - 소분류 */
.category_content_list {
	color: black;
	background-color: lightgray;
	border-bottom: 1px solid gray;
	text-indent: 30px;
}


/* 오른쪽 컨텐츠 */
.content div {
}

/* 오른쪽 컨텐츠 - 하단 여백 */
.right_content_bottom {
	height: 80px;
}
