/* 초기화 */


/* 메인 내용 */
#main_page {
    justify-content : center;
    display: flex;
    margin-left: 30px;
}

/* 카테고리 */
#contact-catecory ul{
    list-style-type: none;
    text-align: left;
    width: 150px;
    background-color: aqua;
}

#contact-catecory ul{
    padding: 30px;
    background-color: red;
}


/* 본문 */

section {
    background-color: antiquewhite;
    text-align: center;
}

section header {
    background-color: aquamarine;
    height: 100px;
}


#table caption{
    display: flex;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    font: 20px solid;
}


#table{
    margin: 60px;
    border-collapse: collapse;
}

#table tr{
    height: 50px;
    border-bottom: 1px solid rgb(205, 205, 205);
}

#table #header{
    border-top: 1px solid black;
}

#table tr td{
    height: 50px;
    width: 100px;
}


/* 푸터 */
#contact-QnA-footer {
    background-color: aqua;
}