
/* 초기화 */
* {margin: 0; padding: 0;}

body {
    padding-top: 20px;
}

input:focus {
    background-color: rgb(235, 235, 235);
    border: 1px solid black;
}

/* 헤더와 섹션 */
header, section {
    width: 600px;
    margin: 0 auto;
    font-size: 10px;
}



/* 헤더 */

header h1{
    text-align: center;
    font-size: 30px;
}

#goto_main {
    text-align: left;
}
#goto_main input{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    background-color: white;
}

#join_logo {
    padding-top: 50px;
    padding-bottom: 40px;
}



/* 섹션 */

section input{
    font-size: 15px;
    text-indent: 10px;
    outline: none;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}


#content {
    margin: 0px 50px 0px 50px;    
}


#bir{ width:30px; }



h4 {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 7px;
}

.errorindex {
    color: red;
    font-size: 13px;
    display: none;
}

#id, #password, #password_more,
#email, #phone, #bir, #gender, #name {
    margin-top: 7px;
    margin-bottom: 10px;
}

/* 아이디 중복확인 */
#idchk {
	padding: 10px;
	font-weight: bold;
}

#idchk_true,
#idchk_false {
	font-size: 13px;
	padding-top: 5px;
	display: none;
}

#idchk_true {
	color: green;
}

#idchk_false {
	color: red;
}

/* 생년월일, 휴대전화, 이메일 */
#bir, #phone, #email {
    display: flex;
}

/* 생년월일 */
#bir_yy input {
    width: 125px;
}

#bir_mm select,
#bir_dd select {
    height: 100%;
    width: 80px;
    padding-left: 10px;
    margin-left: 5px;
    font-size: 15px;
}


/* 성별 */
#gender select {
    height: 30px;
    width: 80px;
    padding: 5px;
    font-size: 15px;
}

/* 이메일, 휴대전화 */
#email #email_confirm,
#phone #tel_confirm {
    width: 130px;
    margin-left: 10px;
}


/* 초기화 */
#sub {
    margin-top: 40px;
}

#sub #userjoin {
    background-color: rgb(54, 100, 56);
    margin-bottom: 100px;
    color: white;
    font-size: 20px;
    border: 0px;
    font-weight: bold;
}