
/* 섹션 */
section {
    padding-top: 100px;
    background-color: aqua;
}



/* 이벤트 헤더 */
#event_header {
    text-align: center;
    padding-bottom: 30px;
}

#event_logo {
    font-size: 30px;
    padding-bottom: 30px;
}

#event_select_time select {
    font-weight: bold;
    border: 1px solid gray;
    padding: 10px;
    outline: none;
}



/* 이벤트 본문 */
#event_list {
    padding-top: 50px;
    padding-bottom: 30px;
}

.event_list_ex {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted gray;
}


/* 이미지 배치 */
.event_list_img img {
    /* float: left; */
    width: 600px;
    height: 250px;
}


/* 텍스트 배치 */
.event_list_text {
    margin-left: 20px;
    text-align: left;
    height: 250px;
}

.event_list_text h3{
    padding-top: 20px;
    font-size: 25px;
}

.event_list_text #p_list{
    padding-top: 5px;
    font-size: 15px;
    height: 160px;
    color: gray;
}

.event_list_text h4{
    padding-top: 10px;
    font-weight: normal;
    color: gray;
}