

/* 섹션 */
section {
    margin: 0 auto;
}

#section_header {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 30px;
}


#section_header_content,
.new_item_list {
	display:flex;
	justify-content: center;
}

.new_item_list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#section_mid_content {
    padding-top: 100px;
}

.best_items_content .items_img img {
	padding-bottom: 10px;
	width: 300px;
	height: 300px;
}

.best_items_content {
	text-align: left;
	margin-right: 20px;
	padding-bottom: 40px;
}

.items_title {
	width: 300px;
	font-size: 13px;
	margin-bottom: 12px;
}

.origin_price {
	font-weight: bold;
}

.sale_percent {
	display: flex;
	align-items: center;
}

/* 가격 */
.sale_percent {
	display: flex;
	align-items: center;
}

.sale_percent .percent {
	color: red;
	font-weight: bold;
	padding-right: 5px;	
}

.percent_price {
	text-decoration:line-through;
	font-size: 13px;
	color: gray;
}


/* 랭크 top3 세일품목 */


#top3_logo{
    font-size: 30px;
    margin-bottom: 50px;
}

/* 정렬 */
.rank_top3_sale_content, .saleitems_content_list {
    text-align: left;
}

